:root{
  --table-color: aqua;
  --table-border-width: 3px;
  --text-color: yellow;
}

.pageContainer{
  height: 100vh;
}

.inputsContainer{
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.resultsContainer{
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 75%;
  background: linear-gradient(180deg, rgba(0,12,194,1) 0%, rgba(0,37,255,1) 100%);
}

.form{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.form label{
  width: 100px;
}

.form input{
  width: 200px;
}

.horizontalContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.functionsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.spc{
  justify-content: space-between;
  padding-right: 100px;
  box-sizing: border-box;
}

.left{
  justify-content: flex-end;
}

.cel{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cel.minTerms{
  width: auto;
  min-width: 50px;
}

.tableCels{
  border-left: var(--table-border-width) solid var(--table-color);
  border-top: var(--table-border-width) solid var(--table-color);
  border-right: none;
  border-bottom: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.table{
  border-right: var(--table-border-width) solid var(--table-color);
  border-bottom: var(--table-border-width) solid var(--table-color);
}

.title{
  display: flex;
  flex-direction: row;
}

.columns,
.lines{
  width: 300px;
}

.lines{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.term{
  margin: 0 1px;
  position: relative;
}

.term.negate::before{
  content: '';
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: 1px;
  right: 0;
  left: 0;
}

.primesContainer{
  display: flex;
  flex-direction: row;
}